* {
    font-family: cursive;
    color: black;
    margin: 0px;
}

p {
    color:red;
    /* font-family: 'Times New Roman', Times, serif; */
}


img {
    height:auto;
    width: 300px;
}

.desktop {
    background-color: rgb(255, 255, 255);
}

.recipe-title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
    border: 5px solid white;
    color: black;
}

.top-bar {
    background-color: #f4f4f4;
    height: 50px;
    margin: 0px;
}

.navbar {
    position: relative;
    width: auto;
    height: 40px;
    background-color: #f4f4f4;
}

.nav-icon {
    left: 854px;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0f1440;
    font-size: 12px;
    top: 12px;
    line-height: normal;
}

.nav1 {
    left: 854px;
}

.nav2 {
    left: 963px;
}

.nav3 {
    left: 1034px;
}

.nav4 {
    left: 1132px;
}
.nav5 {
    left: 1213px;
}
.nav6 {
    left: 1014px;
    color: #bebebe;
}
.nav7 {
    left: 1193px;
    color: #bebebe;
}
.nav8 {
    left: 1112px;
    color: #bebebe;
}
.nav9 {
    left: 943px;
    color: #bebebe;
}