* {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}


img {
    height:auto;
    width: 300px;
}

.recipe-title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
    border: 5px solid white;
    color: black;
}
